<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="name" href="https://anthonywbaker.com">ANTHONY W. BAKER</a>
    </div>

    {% if nav_items == True %}
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav hid" id="nav-links">
        <li><a class="about nav-link" href="https://anthonywbaker.com/#about">ABOUT</a></li>
        <li><a class="resume nav-link" href="https://anthonywbaker.com/#resume">RESUM&Eacute;</a></li>
        <li><a class="projects nav-link" href="https://anthonywbaker.com/#projects">PROJECTS</a></li>
        <li><a class="recipes nav-link" href="{{ url_for('recipes') }}">RECIPES</a></li>
        <li><a class="writing nav-link" href="https://anthonywbaker.com/#writing">WRITING</a></li>
        <li><a class="contact nav-link" href="https://anthonywbaker.com/#contact">CONTACT</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    {% endif %}
  </div><!-- /.container-fluid -->
</nav>

<!-- spacing under the nav bar -->
<div id="nav-spacer"></div>
