#nav-spacer{
  height: 50px;
}

/*.hid{
  display: none;
}*/

/*override bootstrap animation*/
/*.navbar-default .navbar-nav>li>a:hover{
  background-color: #FFFFFF; !important;
}*/

#about{
  /*padding-top: 68px;*/
  padding-bottom: 75px;
  /*height: 350px;*/
}



.nav-block h1{
  margin-bottom: 20px;
  font-size: 1.7em;
}

@media (min-width:768px) and (max-width:992px){
  .nav-block h1{
    font-size: 1.5em;

  }
}

.nav_block a h1{
  color: #000000;
}


/*#nav-blocks>.row>div>h1>a{
  color: #000000;
}*/
a.nav-block-link:link {text-decoration: none; color: #000000;}
a.nav-block-link:visited {text-decoration: none; color: #000000;}
a.nav-block-link:hover {text-decoration: none; color: #000000;}
a.nav-block-link:active {text-decoration: none; color: #000000;}
/*a.nav-block-link{
  color: #000000;
}*/

.nav-link{
  cursor: pointer;
}

/*@media (min-width:768px) and (max-width:992px){
  .nav-block>h1{
    font-size: 2em;
  }
}*/

.hover{
  background-color: #f8f8f8;
  /*border: 1px solid #e7e7e7;*/

}

.active{
  background-color: #e7e7e7 !important;
}

.button{
  cursor: pointer;
}

.jumbo-white{
  background-color: #FFFFFF;
}

.jumbotron{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  overflow: hidden;
}

.card{
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
}
.inactive{
  opacity: .5;
  cursor: auto;
  pointer-events: none;
}

@media (max-width:992px){
  .card-background>.summary{
    display: none;
  }
}

.card-background>h3{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
}

/*.card-background>p{
  font-size: 1.25em;
}*/

.card-background{
  padding-left: 10px;
  padding-right: 10px;
}

.card>img{
  margin: auto;
}

.card>.card-background{
  margin: auto;
  background-color: inherit;
}
.card>.card-foreground{
  padding-left: 10px;
  padding-right: 10px;
}


.recipe.card{
  height: 200px;
}
.recipe.card:hover{
  background-color: #f6f6f6;
}

.card-href{
  color: #333;
}
.card-href:hover{
  color: #333;
}
/*.recipe.card>.card-background{
  background-color: #e7e7e7;
}*/
/*.recipe>.card-background{
  /*height: 50vw;
  overflow-y: auto;
}*/

/*.card-info{
  margin-left: -15px;
  margin-right: -30px;
}*/
.card-info>.row{
  margin-left: 0px;
  margin-right: 0px;
}
/*.card-col{
  padding-left: 0px;
  padding-right: 0px;
}*/
/*.card-info{
  width: 100%;
}*/
.card-info>.card-col>img{
  margin: 0 auto;
}

.card-background>hr{
  margin-right: 75%;
  margin-top: 5px;
  /*height: 10px;*/
  border-color: inherit;
}

.credit{
  font-style: italic;
  font-size: .75em;
}

.gray{
  color: #e7e7e7;
}

#disco{
  background-color: rgb(211, 198, 166);
}
#pencilcode{
  background-color: #FFFFFF;
}
#tangible{
  background-color: rgb(43, 36, 33);
}
#googhole{
  background-color: #FFFFFF;
}
#literacydata{
  background-color: #FFFFFF;
}
#machinelearning{
  background-color: rgb(5, 6, 13);
}
#jrr{
  background-color: rgb(231, 33, 52);
}
#exomuscle{
   background-color: rgb(29, 29, 27);
}
#twitterbot{
  background-color: rgb(35, 98, 79);
}
#software{
  background-color: rgb(53, 51, 50);
}
#thissite{
  background-color: #f6f6f6;
}

.triangle {
  position: absolute;
  top: 11px;
  /*left: 1px;*/
    width: 0;
    height: 0;
    z-index: 100;
    border: solid 14px;
    border-color: transparent transparent black transparent;
    border-top: 7px;
    /*margin-top: 5px;*/


}
.triangle-border{
  position: relative;
  width: 0;
  height: 0;
  z-index: 99;
  border: solid 14px;
  border-color: transparent transparent #e7e7e7 transparent;
  border-top: 7px;
  margin-top: 10px;
  /*margin-bottom: 1px;*/
}

.triangle-container{
  position: relative;
  z-index: 99;
  /*overflow: hidden;*/
  /*border-bottom: 1px solid #e7e7e7;*/
}

.full{
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 25px;
}

/*.triangle-border.disco{
  color: rgb(199, 183, 142);
  }
.triangle-container.disco, #disco.full{
  border-color: rgb(199, 183, 142);
}*/



/*.cards{
  padding-left: 0px;
  padding-right: 0px;
}*/
/*.jumbotron:not(#first){
  display: none;
}*/
/*.hid{
  display: none;
}*/

/*.jumbotron:not(.jumbo-white){
  color: white;
}*/
.space{
  height: 40px;
}
.dark{
  color: white;
}

.jumbo{
  min-height: 250px;
  /*position:relative;
  z-index: 10;*/

}

/*.header{
  height: 250px;
}*/

/*.container-fluid{
  height: inherit;
}*/



.header{
  /*width: 50%;
  margin: 0 auto;*/
  text-align: center;
}
#about>h1{
  margin-bottom: 40px;
}

.featurette-divider{
  /*margin-top: 55px;*/
  margin-top: 1em;
}
img{
  /*position: fixed;
  z-index: 0;*/
  max-width: 100%;
  max-height: 100%;
  height: auto;
  /*vertical-align: middle;*/
  /*position: relative;*/
  /*top: 50%;
  transform: translateY(-50%);*/
  /*margin-left: -15px;*/
}

img .left{
  margin-left: -15px;
}

img .right{
  margin-right: -15px;
}

.left{
  padding-left: 0px;
}

.right{
  padding-right: 0px;
  float: right;
}

.btn-container{
  width: 50px;
  margin: 0 auto;

}

.btn{
  /*color: #FFFFFF;*/
  background-color: #FFFFFF;
}

.btn-round{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #000000;
}

/*.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}*/


.col-sm-6{
  height: inherit;
}


/*ul{
  margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}
h1{
  /*position: relative;
  z-index: 10;*/
  /*overflow: auto;
}*/

  /*font-family: 'Roboto Condensed', sans-serif;*/
  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Didact Gothic', sans-serif;*/
  /*font-family: 'Antic', sans-serif;*/
  /*font-family: 'Poppins', sans-serif;*/
  /*font-family: 'Lato', sans-serif;*/



h1,h2,h3,h4,h5{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#name{
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #000000;
}
p, a{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.nav-link{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.img-placeholder{
  /*width: inherit;
  height: inherit;*/
  /*position: relative;
  top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
    /*position: absolute;

    top: 50%;
    height: 10em;
    /*margin-top: -2.5em;*/

    /*display: inline-block;
    vertical-align: middle;
    float: none;*/
    /*display: table;
        table-layout: fixed;*/

}
.text-container{
  /*width: 80px;*/
  /*width: 50%;*/
  margin: 0 auto;
}
.img-placeholder>.text-container>p{

  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 0px;
}

@media (min-width:768px) and (max-width:992px){
  .img-placeholder>.text-container>p{
    font-size: 1.5em;
  }
  #awb{
    font-size: 1.5em;
  }
}

#about>h1{
  text-align: center;
}
