#name{
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #000000;
}

#nav-spacer{
  height: 50px;
}

.container{
  margin-top: 25px;
  text-align: center;
}

#hello{
  text-align: left;
}

h1, h2, h3, h4, a{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

p{
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 15px;
}

#banner{
  padding-top: 50px;
}
