@font-face {
  font-family: "Chomsky";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Chomsky-399c.woff") format("woff"), url("../fonts/Chomsky-8MOa2.otf") format("otf");
  font-display: swap;
}

@font-face {
  font-family: "Microsoft Sans Serif";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/micross.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Pixel Airal 11";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/PIXEARG_.ttf") format("ttf");
  font-display: swap;
  font-smooth: never;
  -webkit-font-smoothing : none;
}
