<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.html.j2" %}
</head>
<body>
  {% include "partials/nav.html.j2" %}

  <div class="jumbotron jumbo-white">
    <div class="container-fluid">
      <span class="header"><h1><i>POOR ANTHONY'S LONELY THANKSGIVING</i></h1></span>
      <div class="space"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-sm-6">
      <div class="header"><h3>INGREDIENTS</h3></div>
      <ul>
        <li><p>1 pound italian sausage (non-linked)</p></li>
        <li><p>8 uncooked hashbrowns</p></li>
        <li><p>6 eggs</p></li>
        <li><p>1 bell pepper</p></li>
        <li><p>1 red onion</p></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="header"><h3>INSTRUCTIONS</h3></div>
      <ol>
        <li><p>Dice / slice the pepper and onion. If some falls on the floor, that's ok&mdash;you only need about 90% of each.</p></li>
        <li><p>Dump pepper / onion into large frying pan.</p></li>
        <li><p>Saut&eacute;e for about 60 seconds.</p></li>
        <li><p>Dump the sausage into the large pan.</p></li>
        <li><p>Mash sausage into little cubes with a spatula.</p></li>
        <li><p>When the meat is mostly cooked, dump hashbrowns into the large pan.</p></li>
        <li><p>Continue to mash the mixture with the edge of the spatula.</p></li>
        <li><p>When the hasbrowns are mostly cooked, begin cracking the eggs into the meat pile.</p></li>
        <li><p>Continue mashing.</p></li>
        <li><p>When the eggs look sort of scrambled, remove from heat.</p></li>
        <li><p>Drizzle with Sriracha and enjoy approxiamtely 2,538 calories and 104g of protein.</p></li>
      </ol>
    </div>
  </div>
</body>
</html>
