<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.html.j2" %}
</head>
<body>
  {% include "partials/nav.html.j2" %}

  <!-- Project Cards -->
  <div class="jumbotron jumbo-white header" id="projects">
    <div class="container-fluid">
      <div class="row" align="center">
        <h1>Salads</h1>
        <span class="header"><p><i>"SIMPLE IS BETTER"</i></p></span>
      </div>
      <hr class="featurette-divider"></hr>
    </div>
  </div>

  <div class="container-fluid cards">
    <div class="row card-row">
      {% import "partials/recipe_card.html.j2" as card -%}

      {{ card.create(
          title="Spinach",
          slug="salads/spinach")
      }}

      {{ card.create(
          title="Shitty Caesar",
          slug="salads/shitty-caesar")
      }}

      {{ card.create(
          title="Mexican Street Fair",
          slug="salads/mexican-street-fair")
      }}

      {{ card.create(
          title="Boston Bibb",
          slug="salads/boston-bibb")
      }}
    </div>
  </div> <!-- container-fluid -->
</body>
</html>
