<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.html.j2" %}
</head>
<body>
  {% include "partials/nav.html.j2" %}

  <div class="jumbotron jumbo-white">
    <div class="container-fluid">
      <span class="header"><h1><i>SALADS</i></h1></span>
      <span class="header"><p><i>"SIMPLE IS BETTER"</i></p></span>
      <div class="space"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-sm-6">
      <div class="header"><h3>SPINACH</h3></div>
      <ul>
        <li><p>Organic spinach (it's not so much that its organic, it just comes in the best / most resealable container)</p></li>
        <li><p>Walnut pieces</p></li>
        <li><p>Blueberries</p></li>
        <li><p>Balsamic dressing or oil + vinegar</p></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="header"><h3>SHITTY CAESAR</h3></div>
      <ul>
        <p>Pro Tip&trade;: Goes great with buffalo chicken.</p>
        <li><p>Romaine</p></li>
        <li><p>croutons</p></li>
        <li><p>Shredded parmesan</p></li>
        <li><p>Caesar dressing</p></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="header"><h3>BOSTON BIBB</h3></div>
      <ul>
        <li><p>Boston Bibb lettuce, ripped into pieces</p></li>
        <li><p>Lemon juice</p></li>
        <li><p>Sea salt</p></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="header"><h3>ARUGULA</h3></div>
      <ul>
        <li><p>Arugula</p></li>
        <li><p>Same as the Shitty Caesar or Spinach salad, just with arugula</p></li>
      </ul>
    </div>
  </div>
</body>
</html>
