<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.html.j2" %}
</head>
<body>
  {% include "partials/nav.html.j2" %}

  <div class="jumbotron jumbo-white">
    <div class="container-fluid">
      <span class="header"><h1><i>HAPPY SAUSAGE SUPRISE FOR ONE</i></h1></span>
      <div class="space"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-sm-6">
      <div class="header"><h3>INGREDIENTS</h3></div>
      <ul>
        <li><p>3 sweet italian sausages</p></li>
        <li><p>2 tallboys of "sausage beer", i.e. 'Gansett, PBR, High Life, etc.</p></li>
        <li><p>1 green bell pepper</p></li>
        <li><p>1 large spanish onion</p></li>
        <p>If you cannot find 1 large spanish onion:</p>
        <li><p>2 smaller spanish onions</p></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="header"><h3>INSTRUCTIONS</h3></div>
      <ol>
        <li><p>Slice the pepper and onion.</p></li>
        <li><p>Lightly oil a large pan.</p></li>
        <li><p>Dump pepper / onion into the large pan on low heat.</p></li>
        <li><p>Saut&eacute;e for until pepper / onion begin to soften.</p></li>
        <li><p>Dump the sausage into the large pan.</p></li>
        <li><p>Open a beer and begin drinking it.</p></li>
        <li><p>Whenever the pan looks like it is starting to lose moisture, gently waterfall some beer onto your sausage freinds.</p></li>
        <li><p>Occasionally, roll the sausages around.</p></li>
        <li><p>Pro Tip&trade;: Sometimes, I make a little dam out of the pepper / onions to contain the beer around the sausages. It is like a little hot tub for them!</p></li>
        <li><p>Continue this process for 20-30 minutes, until the sausages are throroughly cooked.</p></li>
        <li><p>Pro Tip&trade;: Depending on the rate that you are drinking the beer, you may need multiple cans.</p></li>
        <li><p>Stuff the sausage, peppers, and onions into a toasted, sliced ciabatta roll and garnish with Frank's (Red Hot).</p></li>
      </ol>
    </div>
  </div>
</body>
</html>
