<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/landing.css') }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,300,300italic,100italic|Source+Sans+Pro" rel='stylesheet' type='text/css'>

  <title>Anthony W. Baker</title>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button> -->
        <a class="navbar-brand" id="name" href="#">ANTHONY W. BAKER</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav hid" id="nav-links">
          <!-- <li><a class="about nav-link">ABOUT</a></li>
          <li><a class="resume nav-link">RESUM&Eacute;</a></li>
          <li><a class="projects nav-link">PROJECTS</a></li>
          <li><a class="writing nav-link">WRITING</a></li>
          <li><a class="contact nav-link">CONTACT</a></li> -->
          <!-- <li class="about nav-link">About</li>
          <li class="resume nav-link">Resum&eacute;</li>
          <li class="projects nav-link">Projects</li>
          <li class="writing nav-link">Writing</li>
          <li class="contact nav-link">Contact</li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="nav-spacer"></div>

  <div class="container-fluid container">
    <div class="row">
      <div class="col-sm-12">
        <h1 id="hello">Why, Hello!</h1>
        <h3 id="banner">Just so you know, the site you are about to visit is still under construction.</h3>
        <hr class="featurette-divider"></hr>
        <h3><a href="http://anthonywbaker.com">Continue anyway</a></h3>
        <p>(if you have any comments or something isn't working the way you think it should, please email anthonywbaker1[at]gmail.com)</p>
      </div>
    </div>
  </div>

</body>
</html>
