<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.html.j2" %}
</head>
<body>
  {% include "partials/nav.html.j2" %}

  <div class="jumbotron jumbo-white">
    <div class="container-fluid">
      <span class="header"><h1><i>EASY HONEY SRIRACHA PORK CHOPS</i></h1></span>
      <div class="space"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-sm-6">
      <div class="header"><h3>INGREDIENTS</h3></div>
      <ul>
        <li><p>Honey</p></li>
        <li><p>Sriracha</p></li>
        <li><p>Pork chops</p></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="header"><h3>INSTRUCTIONS</h3></div>
      <ol>
        <li><p>Preheat the oven to 350.</p></li>
        <li><p>In a bowl, squirt a hearty pool of honey and sriracha. You want about a 50/50 mix.</p></li>
        <li><p>Stir vigorously until evenly mixed.</p></li>
        <li><p>Place the chops onto a baking tray. For easy cleanup, line with tin foil.</p></li>
        <li><p>Smother the chops using half of your sauce. Save the other half for dipping.</p></li>
        <li><p>Bake 25-30 minutes.</p></li>
        <li><p>Enjoy.</p></li>
        <li><p>Pro Tip&trade;: Serve with a spinach salad and toasted ciabatta.</p></li>
      </ol>
    </div>
  </div>
</body>
</html>
