<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.html.j2" %}
</head>
<body>
  {% include "partials/nav.html.j2" %}

  <!-- Project Cards -->
  <div class="jumbotron jumbo-white header" id="projects">
    <div class="container-fluid">
      <div class="row">
        <h1>Recipes</h1>
      </div>
      <hr class="featurette-divider"></hr>
    </div>
  </div>

  <div class="container-fluid cards">
    <div class="row proj-row">
      {% import "partials/recipe_card.html.j2" as card -%}

      {{ card.create(title="Arrabbiata", slug="arrabbiata") }}

      {{ card.create(title="Big Anthony's Anytime Big Breakfast Bowl of Meat", slug="meat-bowl") }}

      {{ card.create(title="Easy Honey-Sriracha Pork Chops", slug="honey-sriracha-pork") }}

      {{ card.create(title="Happy Sausage Suprise for One", slug="sausage-suprise") }}


    </div>
  </div> <!-- container-fluid -->

  <div class="container-fluid cards">
    <div class="row proj-row">

      {{ card.create(title="Poor Anthony's Lonely Thanksgiving", slug="lonely-thanksgiving") }}

      {{ card.create(title="Salads", slug="salads") }}

      {{ card.create(title="60-Second Pink Meat Tubes", slug="meat-tube") }}

    </div>
  </div> <!--/container-fluid -->

</body>
</html>
