<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.html.j2" %}
</head>
<body>
  {% include "partials/nav.html.j2" %}

  <div class="jumbotron jumbo-white">
    <div class="container-fluid">
      <span class="header"><h1><i>60-SECOND PINK MEAT TUBES</i></h1></span>
      <div class="space"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-sm-6">
      <div class="header"><h3>INGREDIENTS</h3></div>
      <ul>
        <li><p>Hot dogs</p></li>
        <li><p>Hot dog rolls</p></li>
        <p>Pro Tip&trade;: Martin's potato rolls are the way to go.</p>
        <li><p>Pickles</p></li>
        <li><p>Onion</p></li>
        <li><p>Spicy brown mustard</p></li>
        <li><p>Tabasco</p></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="header"><h3>INSTRUCTIONS</h3></div>
      <ol>
        <li><p>Throw the dogs onto a frying pan on medium-high heat.</p></li>
        <li><p>Quickly dice part of the onion&mdash;hurry, you only have 60 seconds, so don't slice more than you need.</p></li>
        <li><p>Roll the dogs around on the pan, watching in pleasure as at least two sides of their taught pink skin turn to an even, golden tan.</p></li>
        <li><p>If you have whole pickles, slice one into spears and lay them into the rolls.</p></li>
        <p>Pro Tip&trade;: by using whole pickles and slicing them yourself, you control the pickle-to-meat-tube ratio.</p>
        <li><p>Grab the meat tubes and nestle them into the waiting pre-picked potato rolls.</p></li>
        <li><p>Complete the ensemble with a sprinkling of onion, a healthy squirt of spicy brown, and several shakes of tabasco.</p></li>
      </ol>
    </div>
  </div>
</body>
</html>
