<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head.html.j2" %}
</head>
<body>
  {% include "partials/nav.html.j2" %}

  <div class="jumbotron jumbo-white">
    <div class="container-fluid">
      <span class="header"><h1><i>ONE LARGE SERVING OF ARRABBIATA</i></h1></span>
      <div class="space"></div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col-sm-6">
      <div class="header"><h3>INGREDIENTS</h3></div>
      <ul>
        <li><p>Olive oil</p></li>
        <li><p>Garlic (fresh)</p></li>
        <li><p>2 boxes of Campari tomatoes (about 20 little tomatoes)</p></li>
        <li><p>1 bundle Italian parsley</p></li>
        <li><p>Dried red chiles</p></li>
        <p>If you can't find dried red chiles, crushed red pepper flakes are fine</p>
        <li><p>Pasta</p></li>
        <li><p>Romano and Parmesan cheese</p></li>
        <li><p>Pro Tip&trade;: the best shapes of pasta for this, in order, are 1. Orrichette 2. Penne 2.5. Thick spaghetti 3. Rigatoni 4. Shells.</p></li>
      </ul>
    </div>
    <div class="col-sm-6">
      <div class="header"><h3>INSTRUCTIONS</h3></div>
      <ol>
        <li><p>Peel the garlic. This part sucks.</p></li>
        <p>Pro Tip&trade;: I cut the pointy ends off then make a shallow incision from one end to the other. With a little pressure, you can get most of the skin off in one attempt.</p>
        <li><p>Slice the garlic thin. You'll want about 6 cloves' worth.</p></li>
        <li><p>Cut / crush the chiles into very small pieces. If using crushed red pepper, skip this step.</p></li>
        <li><p>Rinse then quarter (literally, cut into quarters) all of the little Campari tomatoes.</p></li>
        <li><p>Heartily pour oil into a large pan or wok. I use a skillet for this. You'll want a little more than will cover the bottom of the pan.</p></li>
        <p>Pro Tip&trade;: whatever pan/wok you use, make sure it has a decently thick bottom to avoid burning anything.</p>
        <li><p>Dump garlic and red pepper/chiles into the oil and heat on low. If using crushed red pepper, you'll want to use enough to pretty much completely cover the oil.</p></li>
        <li><p>Saut&eacute;e for only a few mintes (3 minutes) until there's a little action. If the garlic starts to turn brown, you're fucked.</p></li>
        <li><p>Dump all of the tomato quarters into the mix.</p></li>
        <li><p>Pick the leaves off of the stems of the parsley. You'll want almost half the leaves. Don't worry, you have plenty of time.</p></li>
        <li><p>When you have a big pile of leaves, cut them up into medium-small pieces.</p></li>
        <li><p>Sprinkle a healthy pinch of the parsley into the steaming tomato mixture.</p></li>
        <li><p>Continue simmering on low heat, stirring occasionally, for about an hour (it's a labor of love).</p></li>
        <li><p>When the tomatoes have disintigrated and are now saucelike, begin <a href="">cooking the pasta</a>.</p></li>
        <p>Pro Tip&trade;: <a href="">you better click this link and read it. I'll know if you don't click it, I track everything</a>.</p>
        <li><p>Add the rest of the parsley to the sauce. If you got distracted while picking the leaves and it looks like too much parsley, don't be an idiot, leave some out.</p></li>
        <li><p>Dump some sauce on some pasta, top with a few healthy shakes of both Parmesan and Romano, then, if you're trying to impress anyone, garnish with a whole parsley leaf or two.</p></li>
      </ol>
    </div>
  </div>
</body>
</html>
